<html>
    <head>
        <title>Leave</title>
    </head>
    <body>
        

        <div class="leave-container">
            <div class="col-xl-9 col-lg-8 col-md-12" card-body>
                <div class="quicklink-sidebar-menu ctm-border-radius shadow-sm bg-white card grow">
                    <div class="card-body">
                        <ul class="list-group list-group-horizontal-lg">
                            <li class="list-group-item text-center"><h3><b>Leave Management</b></h3></li>
                            
                        </ul>
                    </div>  
                </div>
            </div>
            <div class="row" card-body>
                <div class="col-lg-6 col-md-12 d-flex">
                    <div class="card shadow-sm flex-fill grow">
                        <div class="card-header">
                            <h4 class="card-title mb-0 d-inline-block">My Leave Details</h4>
                            <a href="my-leave-details" class="d-inline-block float-right text-primary"><i class="fa fa-suitcase"></i></a>
                        </div>
                        <div class="card-body text-center">
                            <div class="time-list">
                                <div class="dash-stats-list">
                                    <a href="my-leave-details"><span class="btn btn-outline-primary">Leave Details</span> </a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 d-flex">
                    <div class="card shadow-sm flex-fill grow">
                        <div class="card-header">
                            <h4 class="card-title mb-0 d-inline-block">Apply Leave/OD</h4>
                            <a href="apply-leave" class="d-inline-block float-right text-primary"><i class="fa fa-suitcase"></i></a>
                        </div>
                        <div class="card-body text-center">
                            <div class="time-list">
                                <div class="dash-stats-list">
                                    <a href="apply-leave"><span class="btn btn-outline-primary">Leave Apply</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        

            <div class="row" card-body>
                <div class="col-lg-6 col-md-12 d-flex">
                    <div class="card shadow-sm flex-fill grow">
                        <div class="card-header">
                            <h4 class="card-title mb-0 d-inline-block">Apply on Behalf</h4>
                            <a href="apply-leave-onbehalf" class="d-inline-block float-right text-primary"><i class="fa fa-suitcase"></i></a>
                        </div>
                        <div class="card-body text-center">
                            <div class="time-list">
                                <div class="dash-stats-list">
                                    <a href="apply-leave-onbehalf"><span class="btn btn-outline-primary">Apply On Behalf</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 d-flex">
                    <div class="card shadow-sm flex-fill grow">
                        <div class="card-header">
                            <h4 class="card-title mb-0 d-inline-block">Approve Leave</h4>
                            <a href="approve-leave" class="d-inline-block float-right text-primary"><i class="fa fa-suitcase"></i></a>
                        </div>
                        <div class="card-body text-center">
                            <div class="time-list">
                                <div class="dash-stats-list">
                                    <a href="approve-leave"><span class="btn btn-outline-primary">Approve Leave</span></a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>