<html>
    <head>
        <title>Employee Dashboard</title>
    </head>
    <body>
        
    
<!-- Content -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-12 theiaStickySidebar">
                <aside class="sidebar sidebar-user">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card ctm-border-radius shadow-sm grow">
                                <div class="card-body py-4">
                                    <div class="row">
                                        <div class="col-md-12 mr-auto text-left">
                                            <div class="custom-search input-group">
                                                <div class="custom-breadcrumb">
                                                    <ol class="breadcrumb no-bg-color d-inline-block p-0 m-0 mb-2">
                                                        <li class="breadcrumb-item d-inline-block"><a href="index.html" class="text-dark">Home</a></li>
                                                        <li class="breadcrumb-item d-inline-block active">Dashboard</li>
                                                    </ol>
                                                    <h4 class="text-dark">Employee Dashboard</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user-card card shadow-sm bg-white text-center ctm-border-radius grow">
                        <div class="user-info card-body">
                            <div class="user-avatar mb-4">
                                <img src="assets/img/profile/deepak.jpg" alt="User Avatar" class="img-fluid rounded-circle" width="100">
                            </div>
                            <div class="user-details">
                                <h4><b>Welcome Deepak Yadav</b></h4>
                                <p>Thu, 02 Apr 2020</p>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Sidebar -->
                    <div class="sidebar-wrapper d-lg-block d-md-none d-none">
                        <div class="card ctm-border-radius shadow-sm border-none grow">
                            <div class="card-body">
                                <div class="row no-gutters">
                                    <div class="col-6 align-items-center text-center">
                                        <a href="employee-dashboard" class="text-white active p-4 first-slider-btn ctm-border-right ctm-border-left ctm-border-top">
                                            <span class="lnr lnr-home pr-0 pb-lg-2 font-23"></span>
                                            <span class="">Dashboard</span>
                                        </a>												
                                    </div>
                                    <div class="col-6 align-items-center shadow-none text-center">											
                                        <a href="leave" class="text-dark p-4 second-slider-btn ctm-border-right ctm-border-top">
                                            <span class="lnr lnr-users pr-0 pb-lg-2 font-23"></span>
                                            <span class="">Leave</span>
                                        </a>												
                                    </div>
                                    <div class="col-6 align-items-center shadow-none text-center">												
                                        <a href="#" class="text-dark p-4 ctm-border-right ctm-border-left">
                                            <span class="lnr lnr-apartment pr-0 pb-lg-2 font-23"></span>
                                            <span class="">Access</span>
                                        </a>												
                                    </div>
                                    <div class="col-6 align-items-center shadow-none text-center">												
                                        <a href="#" class="text-dark p-4 ctm-border-right">
                                            <span class="lnr lnr-calendar-full pr-0 pb-lg-2 font-23"></span>
                                            <span class="">Calendar</span>
                                        </a>												
                                    </div>
                                    <div class="col-6 align-items-center shadow-none text-center">											
                                        <a href="#" class="text-dark p-4 ctm-border-right ctm-border-left">
                                            <span class="lnr lnr-briefcase pr-0 pb-lg-2 font-23"></span>
                                            <span class="">Reports</span>
                                        </a>											
                                    </div>
                                    <div class="col-6 align-items-center shadow-none text-center">											
                                        <a href="#" class="text-dark p-4 ctm-border-right">
                                            <span class="lnr lnr-star pr-0 pb-lg-2 font-23"></span>
                                            <span class="">My Details</span>
                                        </a>												
                                    </div>
                                    <div class="col-6 align-items-center shadow-none text-center">												
                                        <a href="#" class="text-dark p-4 ctm-border-right ctm-border-left">
                                            <span class="lnr lnr-rocket pr-0 pb-lg-2 font-23"></span>
                                            <span class="">Attendance</span>
                                        </a>												
                                    </div>
                                    <div class="col-6 align-items-center shadow-none text-center">												
                                        <a href="#" class="text-dark p-4 ctm-border-right">
                                            <span class="lnr lnr-sync pr-0 pb-lg-2 font-23"></span>
                                            <span class="">Manage</span>
                                        </a>												
                                    </div>
                                    <div class="col-6 align-items-center shadow-none text-center">											
                                        <a href="#" class="text-dark p-4 last-slider-btn1 ctm-border-right ctm-border-left">
                                            <span class="lnr lnr-cog pr-0 pb-lg-2 font-23"></span>
                                            <span class="">Settings</span>
                                        </a>												
                                    </div>
                                    <div class="col-6 align-items-center shadow-none text-center">											
                                        <a href="#" class="text-dark p-4 last-slider-btn ctm-border-right">
                                            <span class="lnr lnr-user pr-0 pb-lg-2 font-23"></span>
                                            <span class="">Profile</span>
                                        </a>												
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Sidebar -->
                    
                    
                    
                    
                </aside>
            </div>
            <!--Dashboard body-->
            <div class="col-xl-9 col-lg-8 col-md-12">

                <!--Dashboard changer-->
                <div class="quicklink-sidebar-menu ctm-border-radius shadow-sm bg-white card grow">
                    <div class="card-body">
                        <ul class="list-group list-group-horizontal-lg">
                            <li class="list-group-item text-center button-6"><a href="index.html" class="text-dark">Admin Dashboard</a></li>
                            <li class="list-group-item text-center active button-5"><a class="text-white" href="employee-dashboard">Employee-Dashboard</a></li>
                        </ul>
                    </div>  
                </div>    
                <!--/Dashboard changer-->

                <!--Balance Leave Summary-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 d-flex">
                        <div class="card shadow-sm flex-fill grow">
                            <div class="card-header">
                                <h4 class="card-title mb-0 d-inline-block">Balance Leave Summary</h4>
                                <a href="leave.html" class="d-inline-block float-right text-primary"><i class="fa fa-suitcase"></i></a>
                            </div>
                            <div class="card-body text-center">
                                <div class="time-list">
                                    <div class="dash-stats-list">
                                        <span class="btn btn-outline-primary">90</span>
                                        <p class="mb-0">Annual Leave</p>
                                    </div>
            
                                    <div class="dash-stats-list">
                                            <span class="btn btn-outline-primary">12</span>
                                            <p class="mb-0">Casual Leave</p>
                                    </div>
            
                                    <div class="dash-stats-list">
                                        <span class="btn btn-outline-primary">04</span>
                                        <p class="mb-0 text-denger"><b>Total Absent(As on 02 Apr 2020)</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/Balance Leave Summary-->

                <!--Request Status-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 d-flex">
                        <div class="card shadow-sm flex-fill grow">
                            <div class="card-header">
                                <h4 class="card-title mb-0 d-inline-block">Request Status</h4>
                                <a href="leave.html" class="d-inline-block float-right text-primary"><i class="fa fa-suitcase"></i></a>
                            </div>
                            <div class="card-body text-center">
                                <div class="time-list">
                                    <div class="dash-stats-list">
                                        <span class="btn btn-outline-primary">01</span>
                                        <p class="mb-0">Pending Leave Approvals</p>
                                    </div>
                                    <div class="dash-stats-list">
                                        <span class="btn btn-outline-primary">00</span>
                                        <p class="mb-0">Pending Access Request Approvals</p>
                                    </div>
                                    <div class="dash-stats-list">
                                        <span class="btn btn-outline-primary">00</span>
                                        <p class="mb-0">Request for Leave Approvals</p>
                                    </div>
                                    <div class="dash-stats-list">
                                        <span class="btn btn-outline-primary">00</span>
                                        <p class="mb-0">Request for Machine Approvals</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <!--Request Status-->

            </div>
            <!--Dashboard changer-->
        </div>
    </div>

<!--/Content-->




<!-- Inner Wrapper -->


</body>
</html>
